@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #f4f4f4;
}

.logito{
    width: 80px;
    height: auto;
}

.image{
    display: block;
    width:1200px;
    margin: 25px auto;
}

.app_container{
    display: flex;
    justify-content:  space-between;
    align-items: center;

}

.info{
    display: none;
}


  h1{
    color: #1f1f1f;
    font-size: 86px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    margin-bottom: -60px;
    margin-top: -30px;
    

  }

h4{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 36px;
    font-kerning: normal;

}
/* side bar */

.sidebaractive {
    transform: translate(0%) !important;
}
.sidebar {
    width: 300px;
    background: #98DD4E;
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    left: 0;
    transform: translate(-100%);
    transition: all 0.3s linear 0s;;
}

ul.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}
ul.nav-links li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}
ul.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:40px
}
ul.social-links li {
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
}
ul.social-links li a {
    color: #1f1f1f;
}
.nav-header {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
.closebtn {
    position: absolute;
    right: 15px;
    font-size: 30px;
    top: 0px;
    color: #fff;
    cursor: pointer;
}

/* nosotrxs page */

.nh1{
    color: #98DD4E;
    margin-bottom: 70px;
}

.np1{
    display:flex;
    text-align: justify;
    font-weight: 300;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    margin-bottom: 15%;
}
  
.nlogo{
    display: block;
    margin: 25px auto;
    width: 200px;
    height: auto;
}

.buttons2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-81 {
    background-color: #1f1f1f;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #f4f4f4;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 50px;
    text-decoration: none;
  }
  
  .button-81:hover {
    background-color: #98DD4E;
    color: #fff;
  }

  h2{
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    color: #98DD4E;
    
  }

  .prev,.next{
    background-color: #f4f4f4;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #f4f4f4;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
  }

  